/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styling */

:root {
    font-family: 'Noto Sans', sans-serif;
    --color-one: #181a1b; 
    --color-two: #394359;
    --color-three: #f2be8d;
    --color-four: #ba6c65;
    --board-spacing: 8px;
    --border-color: #373737;
    --button-color: #252525;
}

body {
    background-color: #1f1f1f;
    color: #e8e6e3;
}

.container {
    display: grid;
    grid-template-columns: 2fr  1fr;
    grid-template-rows: 1fr;
    padding: 20px;

    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.text {
    color: var(--color-three);
}

.player-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;
}

input[type="text"] {
    max-width: 300px;
    background-color: var(--button-color);
    border-radius: 3px;
    margin-left: 5px;
    padding: 3px;
    border: 1px solid var(--border-color);
    color: #e8e6e3;

    outline: none;
}

input[type="text"]:focus {
    background-color: #1f1f1f;
}

.hidden {
    display: none;
}

.end-game-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0px;
}

.game {
    grid-column: 1;
}

.scores {
    grid-column: 2;
    line-height: 1.3;
}

.turn, .result {
    margin-bottom: 10px;
    text-align: center;
}

 button {
    color: white;
    background-color: black;
    border: 1px solid var(--border-color);
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 1.1rem;
}

/* Hover effects */

button:hover, .row div:hover {
    background-color:#1f1f1f;
    cursor: pointer;
    position: relative;
    top: -1px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

/* Board */

.board {
    margin: 20px 0px;
 }

.row {
    display: flex;
    gap: var(--board-spacing);
    margin-bottom: var(--board-spacing);
    justify-content: center;
}

.row div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;

    font-size: 2rem;
}

.slot {
    background-color: #282828; 
}